/*
* @Author: halink0803
* @Date:   2016-10-18 19:59:05
* @Last Modified by:   halink0803
* @Last Modified time: 2016-10-19 13:37:07
*/

.wrapper-course-image {
	float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
}

.cover {
	box-sizing: border-box;
    transition: all 0.15s linear 0s;
    float: left;
    overflow: hidden;
    position: relative;
    max-height: 120px;
    border-radius: 4px;
    border: 1px solid #ddd;
    border-bottom: 4px solid #ddd;
}

.um-28.um .um-profile-body {
    max-width: 100% !important;
}